{% extends _cms.conf.adminTemplate %}

{% block title %}Site Settings{% endblock %}

{% block head %}

{% endblock %}

{% block content %}


<h1>Site Settings</h1>

<form method="post">
<input type="hidden" name="_csrf" value="{{_csrf}}"/>
<label>Site Title
<input type="text" name="title" value="{{_site.title}}" />
</label>

<label>Currency Symbol
<input type="text" name="currency" value="{{_site.currency}}" />
</label>

<button type="submit" class="tiny button">Save</button>
</form>


{% endblock %}


{% block beforeEndBody %}


{% endblock %}