{% extends _cms.conf.adminTemplate %}

{% block title %}Document List{% endblock %}

{% block head %}

  <link rel="stylesheet" href="/css/plugin/cms/dms.css" />
{% endblock %}

{% block content %}

<a class="tiny button" href="{{context|safe}}/document/add?folderId={{folderId}}&docType={{defaultDocTypeForAddFile}}">Add File</a>

<a class="tiny button" href="{{context|safe}}/document/add?isFolder=y&folderId={{folderId}}">New Folder</a>

<ul class="navigation">
  {%if parentFolders%}
  <li><a href="{{context|safe}}/document/list">Root</a></li>
  {%for parentFolder in parentFolders%}
  <li>/ 
    {%if loop.last%}
    {{parentFolder.name}}
    {%else%}
    <a href="{{context|safe}}/document/list?folderId={{parentFolder._id.toString()}}">{{parentFolder.name}}</a>
    {%endif%}

  </li>
  {%endfor%}
  {%else%}
  <li>Root</li>
  {%endif%}
</ul>


<table class="doc-list">
  <thead>
    <tr>
      <th>Edit</th>
      <th colspan="2">
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    {%if documents %}
    {%for document in documents %}
    <tr>
      <td><a href="{{context|safe}}/document/edit/{{document._id.toString()}}?docType={{document.docType}}">Edit</a></td>
      <td>
        {%if document.isFolder%}
        <div class="folder"></div>
        {%else%}
        <div class="file"></div>
        {%endif%}
      </td>
      <td>
        {%if document.isFolder%}
        <a href="?folderId={{document._id.toString()}}">{{document.name}}</a>
        {%else%}
        {{document.name}}
        {%endif%}


      </td>
    </tr>
    {%endfor%}

    {%else%}
    <tr>
      <td colspan="3">
        No documents found.
      </td>
    </tr>
    {%endif%}
  </tbody>
</table>

{% endblock %}

